.class{
    position: absolute;
background-color: #f8db73;
    width: 100%;
    height: 100%;
    
}
.frame-inner{
position: relative;
    top: 15%;
    left: 10%;
    border: 1px solid black;
    box-sizing: border-box;
    width: 40%;
    height: 70%;
    bottom:7%;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.product1,.product2,.product3,.product4,.product5{
    left:55%;
    position:absolute;
}
.product1{
    top:10%;
}
.product2{
    top:20%;
}
.product3{
    top:30%;
}
.product4{
    top:40%;
}
.product5{
    top:50%;
}



