.class{
    position: absolute;
background-color: #f8db73;
    width: 100%;
    height: 100%;
    
}
.frame-inner{
position: relative;
    top: 10%;
    left: 15%;
    border: 1px solid black;
    box-sizing: border-box;
    width: 41%;
    height: 60%;
    bottom:7%;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.product1,.product2,.product3,.product4{
    left:60%;
    position:absolute;
}
.product1{
    top:20;
}
.product2{
    top:15%;
}
.product3{
    top:30%;
}
.product4{
    top:40%;
}